---
layout: category
title:  乐高
keywords:  乐高,乐高,乐高
description: 记录了乐高相关产品。

---

{% for cate in site.categories %}
	{% if cate[0] == page.title %}
		<div class="postlist">
		{% for post in cate[1] %}
			<h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
			<div class="postinfo" >
				<p><span>{{ post.tags }} / {{ post.author }} / {{ post.createdate }}</span></p>
			</div>
			<div class="postdesc">
				<p>{{ post.description }}... <a href="{{ site.baseurl }}{{ post.url }}">more</a><p>
			</div>
		{% endfor %}
		</div>
	{% endif %}
{% endfor %}
