<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 searchbarLinks">
        <!-- sites for PC devices -->
        <span class="hidden-xs hidden-sm"><a href='https://p.yiqifa.com/0N3qb' target='_blank' style="font-weight:bold;color:red">京东</a>&nbsp;</span>
        <span class="hidden-xs hidden-sm"><a href='https://p.gouwuke.com/0N42M' target='_blank' style="font-weight:bold;color:red">唯品会</a>&nbsp;</span>
        <span class="hidden-xs hidden-sm"><a href='https://p.gouwuke.com/0N3qh' target='_blank' style="font-weight:bold;color:red">当当</a>&nbsp;</span>
        <span class="hidden-xs hidden-sm"><a href='https://p.gouwuke.com/0N3qE' target='_blank' style="font-weight:bold;color:red">苏宁</a>&nbsp;</span>
        <span class="hidden-xs hidden-sm"><a href='https://p.gouwuke.com/0N3wj' target='_blank' style="font-weight:bold;color:red">国美</a>&nbsp;</span>
        <span class="hidden-xs hidden-sm"><a href='https://p.gouwuke.com/0N3qL' target='_blank' style="font-weight:bold;color:red">一号店</a>&nbsp;</span>

        <!-- sites for mobile devices -->
        <span class="hidden-md hidden-lg"><a href='https://p.yiqifa.com/0N3sr' target='_blank' style="font-weight:bold;color:red">京东</a>&nbsp;</span>
        <span class="hidden-md hidden-lg"><a href='https://p.gouwuke.com/0N3sW' target='_blank' style="font-weight:bold;color:red">唯品会</a>&nbsp;</span>
        <span class="hidden-md hidden-lg"><a href='http://p.gouwuke.com/0N3qc' target='_blank' style="font-weight:bold;color:red">当当</a>&nbsp;</span>
        <span class="hidden-md hidden-lg"><a href='https://p.gouwuke.com/0N3qS' target='_blank' style="font-weight:bold;color:red">苏宁</a>&nbsp;</span>
        <span class="hidden-md hidden-lg"><a href='https://p.gouwuke.com/0N3pr' target='_blank' style="font-weight:bold;color:red">国美</a>&nbsp;</span>
        <span class="hidden-md hidden-lg"><a href='https://p.gouwuke.com/0N3qj' target='_blank' style="font-weight:bold;color:red">一号店</a>&nbsp;</span>

        <span><a href='https://www.amazon.cn/?tag=tunhuoclub-23' target='_blank' style="font-weight:bold;color:red">亚马逊</a>&nbsp;</span>
</div>
